* {
  color: gray;
  background-color: black;
}

body {
  text-indent: 15px;
  padding: 20px;
}

h1 {
  color: blue;
  text-align: center;
  margin: 20px;
}

h2 {
  color: green;
  text-indent: 20px;
  margin: 20px;
  text-align: center;
}

section {
  border-style: double;
  border-width: medium;
  border-color: red;
  border-radius: 50px;
  padding-bottom: 30px;
  width: 600px;
  margin: 0px auto;
}
