* {
  font-family: Verdana;
}

.clearfix {
  clear: both;
}

.fixed {
  position: fixed;

}

.margintop{
  margin-top: 140px;
}

body {
    background-image: url("http://www.walldevil.com/wallpapers/w08/neon-genesis-evangelion-asuka-langley-soryu-simple-background-colorful-artwork-anime.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

div {
  width: 30%;
  background-color: rgba(122, 122, 122, 0.5);
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
}

h1 {
  font-size: 60px;
  padding-left: 10px;
  padding-top: 15px;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(42, 163, 111, .5);
}

h2 {
  color: white;
}

img {
  width: 500px;
  margin-left: 10px;
}

style {
  position: static;
}
