* {
  color: gray;
  background-color: black;

}

h1 {
  color: blue;
  background-color: orange;
}

h2 {
  color: green;
}

section {
  border-style: double;
  border-width: medium;
  border-color: red;
  border-radius: 50px;
}

img {
  
}
